click==6.7
decorator==4.1.2
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.10.1
MarkupSafe==1.0
parso==0.1.0
passlib==1.7.1
pexpect==4.3.0
pickleshare==0.7.4
psycopg2==2.7.3.2
Pygments==2.2.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.12.2
pandas==0.24.2
numpy==1.16.3
ipykernel==5.1.0
ipython==7.2.0
jupyter==1.0.0
jupyter_client==5.2.4
jupyter_console==6.0.0
jupyter_core==4.4.0
jupyterlab==0.35.3
jupyterlab_server==0.2.0
lxml  
mysqlclient
ptyprocess
prompt-toolkit
gunicorn
appnope
sqlalchemy
flask
